<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Item Catalog Project</title>
  <meta name="description" content="My version of the item catalog project.">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="author" content="Nikitas Chatzipazarlis">
  <link rel="icon" type="image/ico" href="{{ url_for('static',filename='images/favicon.ico') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
  <div id="top-bar">
    <h1>Item Catalog Project</h1>
    <nav id="top-nav">
      <!-- Link to take you back to the home page -->
      <a href="{{url_for('home')}}">Home</a>
      <!-- If the user is already logged in, then show logout option -->
      {% if 'username' in session %}
      <a href="{{url_for('logout')}}">Logout </a>
      <!-- If the user is not loged in, show the login option -->
      {% else %}
      <a href="{{url_for('login')}}">Login </a>
      {% endif %}
    </nav>
  </div>

  <!-- Flash messages -->
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
  </div>

  <div id="container">
    <section class="category-section">
      <h2>Categories</h2>
      <ul>
      {% for category in categories %}
          <li><a href="{{url_for('categoryItems', category_name=category.name)}}">
              {{category.name}}</a>
          </li>
      {% endfor %}
      </ul>
    </section>

    <section class="item-section">
      <h2>5 Latest Items</h2>
      <ul>
      {% for item in items %}
        <li><a href="{{url_for('viewItem', category_name=item.category.name, item_name=item.name, item_id=item.id)}}">
          {{item.name}}</a>
        <i>({{item.category.name}})</i></li>
      {% endfor %}
      </ul>
      <a href="{{url_for('createItem')}}">Create Item</a>
    </section>
  </div>
</body>
</html>
