<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Catalog Item Details</title>
    <meta name="description" content="Details of a specific catalog item.">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Nikitas Chatzipazarlis">
    <link rel="icon" type="image/ico" href="{{ url_for('static',filename='images/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
  <div id="top-bar">
    <h1>Item Catalog Project</h1>
    <nav id="top-nav">
      <!-- Link to take you back to the home page -->
      <a href="{{url_for('home')}}">Home</a>
      <!-- If the user is already logged in, then show logout option -->
      {% if 'username' in session %}
        <a href="{{url_for('logout')}}">Logout </a>
      <!-- If the user is not loged in, show the login option -->
      {% else %}
        <a href="{{url_for('login')}}">Login </a>
      {% endif %}
    </nav>
  </div>

  <div class="item-container">
    <h2>{{item.name}}</h2>
    <p>{{item.content}}</p>
    Public
  </div>
</body>
</html>
